<!DOCTYPE html>
<html>
<head>
  <style>
    /* Add your custom styles here */
  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box">
            <h1 class="title">Hello, <%= userExists.name %></h1>
            <p class="subtitle">You have successfully logged in.</p>
            <p>Thank you for using our service. If you have any questions or need further assistance, please feel free to contact us.</p>
            <p>Best regards,</p>
            <p>Saurabh Dixit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>